<div class="span8">
 

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class=>"form-horizontal well" , :style => "text-align:left;" ,:method => :post }) do |f| %>
<fieldset>
    <legend>Forgot your password? </legend>
    <hr/>
    <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,:label_html => { :class => 'text-fields' }, :required => true %>
  </div>

  <div class="form-actions">
    <%= f.submit "Send me reset password instructions" , :class=>"btn btn-primary"%>
  </div>
</fieldset>
<% end %>
</div>
