<div class="list">
  <div class="inner">
    <div class="toRight">
      <a href="/rss/category/Programare/">RSS</a>
      <a href="/rss/category/Programare/"><%= image_tag("joobsbox/icon-rss.gif" , :alt => "RSS") %></a>
    </div>
    <a href="/category/Programare.html">
				Programare			</a>
  </div>
  <ul>
    <li >
      <a href="/job/Ruby-on-Rails-1.html">Ruby on Rails</a>
      <span class="lighterSmall"> at </span>
					pramati					<span class="lighterSmall"> in </span>
					london				</li>
  </ul>
  <div class="inner">
    <div class="toRight">
      <a href="/rss/category/Design/">RSS</a>
      <a href="/rss/category/Design/"><%= image_tag("joobsbox/icon-rss.gif" , :alt => "RSS") %></a>
    </div>
    <a href="/category/Design.html">
				Design			</a>
  </div>
  <ul>
    <li >
      <a href="/job/CSS-2.html">CSS</a>
      <span class="lighterSmall"> at </span>
					pramati					<span class="lighterSmall"> in </span>
					hyderabad				</li>
  </ul>
</div>