<h1 class="dashboard-title">Dashboard</h1>

<ul id="dashboard">
  <li class="dashboard-item">
    <div class="dashboard-item-title"><a href="/admin/categories">Categories</a></div>
    <div class="dashboard-item-content">
      <ul class="categories">
        <% Category.all.each do |cat| %>
          <li><%= cat.name %> (<%="0"%>)</li>
        <% end %>        
      </ul>
    </div>
  </li>
  <li class="dashboard-item">
    <div class="dashboard-item-title"><a href="/admin/postings">Postings</a></div>
    <div class="dashboard-item-content">
      <ul class="postings">
      </ul>
      <div class="info">
        <span class="info-item">Total postings: 2</span>
        <span class="info-item">Pending postings: 0</span>
      </div>
    </div>
  </li>
  <div class="clear">&nbsp;</div>
</ul>
