

<h1 class="dashboard-title">Settings</h1>
<div class="joobsbox-plugin-content">
  <form id="formPublish" enctype="application/x-www-form-urlencoded" action="/admin/settings" method="post"><dl class="zend_form">
      <dt id="general-label">&nbsp;</dt><dd id="general-element"><fieldset id="fieldset-general"><legend>General</legend>
          <dl>
            <dt id="jobs_per_categ-label"><label for="jobs_per_categ" class="required">#Jobs per category (homepage)</label></dt>
            <dd id="jobs_per_categ-element">
              <input name="jobs_per_categ" id="jobs_per_categ" value="10" type="text"></dd>
            <dt id="common_title-label"><label for="common_title" class="required">Site title</label></dt>
            <dd id="common_title-element">
              <input name="common_title" id="common_title" value="jobs" type="text"></dd>
            <dt id="posting_ttl-label"><label for="posting_ttl" class="required">Job time to live (days)</label></dt>
            <dd id="posting_ttl-element">
              <input name="posting_ttl" id="posting_ttl" value="30" type="text"></dd>
            <dt id="site_timezone-label"><label for="site_timezone" class="optional">Timezone</label></dt>
            <dd id="site_timezone-element">
              <select name="site_timezone" id="site_timezone">
                <option value="Africa/Abidjan" label="Africa/Abidjan">Africa/Abidjan</option>
                <option value="Africa/Accra" label="Africa/Accra">Africa/Accra</option>
                <option value="Africa/Addis_Ababa" label="Africa/Addis_Ababa">Africa/Addis_Ababa</option>
                <option value="Africa/Algiers" label="Africa/Algiers">Africa/Algiers</option>
                <option value="Africa/Asmara" label="Africa/Asmara">Africa/Asmara</option>
                <option value="Africa/Asmera" label="Africa/Asmera">Africa/Asmera</option>
                <option value="Africa/Bamako" label="Africa/Bamako">Africa/Bamako</option>
                <option value="Africa/Bangui" label="Africa/Bangui">Africa/Bangui</option>
                <option value="Africa/Banjul" label="Africa/Banjul">Africa/Banjul</option>
                <option value="Africa/Bissau" label="Africa/Bissau">Africa/Bissau</option>
                <option value="Africa/Blantyre" label="Africa/Blantyre">Africa/Blantyre</option>
                <option value="Africa/Brazzaville" label="Africa/Brazzaville">Africa/Brazzaville</option>
                <option value="Africa/Bujumbura" label="Africa/Bujumbura">Africa/Bujumbura</option>
                <option value="Africa/Cairo" label="Africa/Cairo">Africa/Cairo</option>
                <option value="Africa/Casablanca" label="Africa/Casablanca">Africa/Casablanca</option>
                <option value="Africa/Ceuta" label="Africa/Ceuta">Africa/Ceuta</option>
                <option value="Africa/Conakry" label="Africa/Conakry">Africa/Conakry</option>
                <option value="Africa/Dakar" label="Africa/Dakar">Africa/Dakar</option>
                <option value="Africa/Dar_es_Salaam" label="Africa/Dar_es_Salaam">Africa/Dar_es_Salaam</option>
                <option value="Africa/Djibouti" label="Africa/Djibouti">Africa/Djibouti</option>
                <option value="Africa/Douala" label="Africa/Douala">Africa/Douala</option>
                <option value="Africa/El_Aaiun" label="Africa/El_Aaiun">Africa/El_Aaiun</option>
                <option value="Africa/Freetown" label="Africa/Freetown">Africa/Freetown</option>
                <option value="Africa/Gaborone" label="Africa/Gaborone">Africa/Gaborone</option>
                <option value="Africa/Harare" label="Africa/Harare">Africa/Harare</option>
                <option value="Africa/Johannesburg" label="Africa/Johannesburg">Africa/Johannesburg</option>
                <option value="Africa/Kampala" label="Africa/Kampala">Africa/Kampala</option>
                <option value="Africa/Khartoum" label="Africa/Khartoum">Africa/Khartoum</option>
                <option value="Africa/Kigali" label="Africa/Kigali">Africa/Kigali</option>
                <option value="Africa/Kinshasa" label="Africa/Kinshasa">Africa/Kinshasa</option>
                <option value="Africa/Lagos" label="Africa/Lagos">Africa/Lagos</option>
                <option value="Africa/Libreville" label="Africa/Libreville">Africa/Libreville</option>
                <option value="Africa/Lome" label="Africa/Lome">Africa/Lome</option>
                <option value="Africa/Luanda" label="Africa/Luanda">Africa/Luanda</option>
                <option value="Africa/Lubumbashi" label="Africa/Lubumbashi">Africa/Lubumbashi</option>
                <option value="Africa/Lusaka" label="Africa/Lusaka">Africa/Lusaka</option>
                <option value="Africa/Malabo" label="Africa/Malabo">Africa/Malabo</option>
                <option value="Africa/Maputo" label="Africa/Maputo">Africa/Maputo</option>
                <option value="Africa/Maseru" label="Africa/Maseru">Africa/Maseru</option>
                <option value="Africa/Mbabane" label="Africa/Mbabane">Africa/Mbabane</option>
                <option value="Africa/Mogadishu" label="Africa/Mogadishu">Africa/Mogadishu</option>
                <option value="Africa/Monrovia" label="Africa/Monrovia">Africa/Monrovia</option>
                <option value="Africa/Nairobi" label="Africa/Nairobi">Africa/Nairobi</option>
                <option value="Africa/Ndjamena" label="Africa/Ndjamena">Africa/Ndjamena</option>
                <option value="Africa/Niamey" label="Africa/Niamey">Africa/Niamey</option>
                <option value="Africa/Nouakchott" label="Africa/Nouakchott">Africa/Nouakchott</option>
                <option value="Africa/Ouagadougou" label="Africa/Ouagadougou">Africa/Ouagadougou</option>
                <option value="Africa/Porto-Novo" label="Africa/Porto-Novo">Africa/Porto-Novo</option>
                <option value="Africa/Sao_Tome" label="Africa/Sao_Tome">Africa/Sao_Tome</option>
                <option value="Africa/Timbuktu" label="Africa/Timbuktu">Africa/Timbuktu</option>
                <option value="Africa/Tripoli" label="Africa/Tripoli">Africa/Tripoli</option>
                <option value="Africa/Tunis" label="Africa/Tunis">Africa/Tunis</option>
                <option value="Africa/Windhoek" label="Africa/Windhoek">Africa/Windhoek</option>
                <option value="America/Adak" label="America/Adak">America/Adak</option>
                <option value="America/Anchorage" label="America/Anchorage">America/Anchorage</option>
                <option value="America/Anguilla" label="America/Anguilla">America/Anguilla</option>
                <option value="America/Antigua" label="America/Antigua">America/Antigua</option>
                <option value="America/Araguaina" label="America/Araguaina">America/Araguaina</option>
                <option value="America/Argentina/Buenos_Aires" label="America/Argentina/Buenos_Aires">America/Argentina/Buenos_Aires</option>
                <option value="America/Argentina/Catamarca" label="America/Argentina/Catamarca">America/Argentina/Catamarca</option>
                <option value="America/Argentina/ComodRivadavia" label="America/Argentina/ComodRivadavia">America/Argentina/ComodRivadavia</option>
                <option value="America/Argentina/Cordoba" label="America/Argentina/Cordoba">America/Argentina/Cordoba</option>
                <option value="America/Argentina/Jujuy" label="America/Argentina/Jujuy">America/Argentina/Jujuy</option>
                <option value="America/Argentina/La_Rioja" label="America/Argentina/La_Rioja">America/Argentina/La_Rioja</option>
                <option value="America/Argentina/Mendoza" label="America/Argentina/Mendoza">America/Argentina/Mendoza</option>
                <option value="America/Argentina/Rio_Gallegos" label="America/Argentina/Rio_Gallegos">America/Argentina/Rio_Gallegos</option>
                <option value="America/Argentina/Salta" label="America/Argentina/Salta">America/Argentina/Salta</option>
                <option value="America/Argentina/San_Juan" label="America/Argentina/San_Juan">America/Argentina/San_Juan</option>
                <option value="America/Argentina/San_Luis" label="America/Argentina/San_Luis">America/Argentina/San_Luis</option>
                <option value="America/Argentina/Tucuman" label="America/Argentina/Tucuman">America/Argentina/Tucuman</option>
                <option value="America/Argentina/Ushuaia" label="America/Argentina/Ushuaia">America/Argentina/Ushuaia</option>
                <option value="America/Aruba" label="America/Aruba">America/Aruba</option>
                <option value="America/Asuncion" label="America/Asuncion">America/Asuncion</option>
                <option value="America/Atikokan" label="America/Atikokan">America/Atikokan</option>
                <option value="America/Atka" label="America/Atka">America/Atka</option>
                <option value="America/Bahia" label="America/Bahia">America/Bahia</option>
                <option value="America/Barbados" label="America/Barbados">America/Barbados</option>
                <option value="America/Belem" label="America/Belem">America/Belem</option>
                <option value="America/Belize" label="America/Belize">America/Belize</option>
                <option value="America/Blanc-Sablon" label="America/Blanc-Sablon">America/Blanc-Sablon</option>
                <option value="America/Boa_Vista" label="America/Boa_Vista">America/Boa_Vista</option>
                <option value="America/Bogota" label="America/Bogota">America/Bogota</option>
                <option value="America/Boise" label="America/Boise">America/Boise</option>
                <option value="America/Buenos_Aires" label="America/Buenos_Aires">America/Buenos_Aires</option>
                <option value="America/Cambridge_Bay" label="America/Cambridge_Bay">America/Cambridge_Bay</option>
                <option value="America/Campo_Grande" label="America/Campo_Grande">America/Campo_Grande</option>
                <option value="America/Cancun" label="America/Cancun">America/Cancun</option>
                <option value="America/Caracas" label="America/Caracas">America/Caracas</option>
                <option value="America/Catamarca" label="America/Catamarca">America/Catamarca</option>
                <option value="America/Cayenne" label="America/Cayenne">America/Cayenne</option>
                <option value="America/Cayman" label="America/Cayman">America/Cayman</option>
                <option value="America/Chicago" label="America/Chicago">America/Chicago</option>
                <option value="America/Chihuahua" label="America/Chihuahua">America/Chihuahua</option>
                <option value="America/Coral_Harbour" label="America/Coral_Harbour">America/Coral_Harbour</option>
                <option value="America/Cordoba" label="America/Cordoba">America/Cordoba</option>
                <option value="America/Costa_Rica" label="America/Costa_Rica">America/Costa_Rica</option>
                <option value="America/Cuiaba" label="America/Cuiaba">America/Cuiaba</option>
                <option value="America/Curacao" label="America/Curacao">America/Curacao</option>
                <option value="America/Danmarkshavn" label="America/Danmarkshavn">America/Danmarkshavn</option>
                <option value="America/Dawson" label="America/Dawson">America/Dawson</option>
                <option value="America/Dawson_Creek" label="America/Dawson_Creek">America/Dawson_Creek</option>
                <option value="America/Denver" label="America/Denver">America/Denver</option>
                <option value="America/Detroit" label="America/Detroit">America/Detroit</option>
                <option value="America/Dominica" label="America/Dominica">America/Dominica</option>
                <option value="America/Edmonton" label="America/Edmonton">America/Edmonton</option>
                <option value="America/Eirunepe" label="America/Eirunepe">America/Eirunepe</option>
                <option value="America/El_Salvador" label="America/El_Salvador">America/El_Salvador</option>
                <option value="America/Ensenada" label="America/Ensenada">America/Ensenada</option>
                <option value="America/Fort_Wayne" label="America/Fort_Wayne">America/Fort_Wayne</option>
                <option value="America/Fortaleza" label="America/Fortaleza">America/Fortaleza</option>
                <option value="America/Glace_Bay" label="America/Glace_Bay">America/Glace_Bay</option>
                <option value="America/Godthab" label="America/Godthab">America/Godthab</option>
                <option value="America/Goose_Bay" label="America/Goose_Bay">America/Goose_Bay</option>
                <option value="America/Grand_Turk" label="America/Grand_Turk">America/Grand_Turk</option>
                <option value="America/Grenada" label="America/Grenada">America/Grenada</option>
                <option value="America/Guadeloupe" label="America/Guadeloupe">America/Guadeloupe</option>
                <option value="America/Guatemala" label="America/Guatemala">America/Guatemala</option>
                <option value="America/Guayaquil" label="America/Guayaquil">America/Guayaquil</option>
                <option value="America/Guyana" label="America/Guyana">America/Guyana</option>
                <option value="America/Halifax" label="America/Halifax">America/Halifax</option>
                <option value="America/Havana" label="America/Havana">America/Havana</option>
                <option value="America/Hermosillo" label="America/Hermosillo">America/Hermosillo</option>
                <option value="America/Indiana/Indianapolis" label="America/Indiana/Indianapolis">America/Indiana/Indianapolis</option>
                <option value="America/Indiana/Knox" label="America/Indiana/Knox">America/Indiana/Knox</option>
                <option value="America/Indiana/Marengo" label="America/Indiana/Marengo">America/Indiana/Marengo</option>
                <option value="America/Indiana/Petersburg" label="America/Indiana/Petersburg">America/Indiana/Petersburg</option>
                <option value="America/Indiana/Tell_City" label="America/Indiana/Tell_City">America/Indiana/Tell_City</option>
                <option value="America/Indiana/Vevay" label="America/Indiana/Vevay">America/Indiana/Vevay</option>
                <option value="America/Indiana/Vincennes" label="America/Indiana/Vincennes">America/Indiana/Vincennes</option>
                <option value="America/Indiana/Winamac" label="America/Indiana/Winamac">America/Indiana/Winamac</option>
                <option value="America/Indianapolis" label="America/Indianapolis">America/Indianapolis</option>
                <option value="America/Inuvik" label="America/Inuvik">America/Inuvik</option>
                <option value="America/Iqaluit" label="America/Iqaluit">America/Iqaluit</option>
                <option value="America/Jamaica" label="America/Jamaica">America/Jamaica</option>
                <option value="America/Jujuy" label="America/Jujuy">America/Jujuy</option>
                <option value="America/Juneau" label="America/Juneau">America/Juneau</option>
                <option value="America/Kentucky/Louisville" label="America/Kentucky/Louisville">America/Kentucky/Louisville</option>
                <option value="America/Kentucky/Monticello" label="America/Kentucky/Monticello">America/Kentucky/Monticello</option>
                <option value="America/Knox_IN" label="America/Knox_IN">America/Knox_IN</option>
                <option value="America/La_Paz" label="America/La_Paz">America/La_Paz</option>
                <option value="America/Lima" label="America/Lima">America/Lima</option>
                <option value="America/Los_Angeles" label="America/Los_Angeles">America/Los_Angeles</option>
                <option value="America/Louisville" label="America/Louisville">America/Louisville</option>
                <option value="America/Maceio" label="America/Maceio">America/Maceio</option>
                <option value="America/Managua" label="America/Managua">America/Managua</option>
                <option value="America/Manaus" label="America/Manaus">America/Manaus</option>
                <option value="America/Marigot" label="America/Marigot">America/Marigot</option>
                <option value="America/Martinique" label="America/Martinique">America/Martinique</option>
                <option value="America/Mazatlan" label="America/Mazatlan">America/Mazatlan</option>
                <option value="America/Mendoza" label="America/Mendoza">America/Mendoza</option>
                <option value="America/Menominee" label="America/Menominee">America/Menominee</option>
                <option value="America/Merida" label="America/Merida">America/Merida</option>
                <option value="America/Mexico_City" label="America/Mexico_City">America/Mexico_City</option>
                <option value="America/Miquelon" label="America/Miquelon">America/Miquelon</option>
                <option value="America/Moncton" label="America/Moncton">America/Moncton</option>
                <option value="America/Monterrey" label="America/Monterrey">America/Monterrey</option>
                <option value="America/Montevideo" label="America/Montevideo">America/Montevideo</option>
                <option value="America/Montreal" label="America/Montreal">America/Montreal</option>
                <option value="America/Montserrat" label="America/Montserrat">America/Montserrat</option>
                <option value="America/Nassau" label="America/Nassau">America/Nassau</option>
                <option value="America/New_York" label="America/New_York">America/New_York</option>
                <option value="America/Nipigon" label="America/Nipigon">America/Nipigon</option>
                <option value="America/Nome" label="America/Nome">America/Nome</option>
                <option value="America/Noronha" label="America/Noronha">America/Noronha</option>
                <option value="America/North_Dakota/Center" label="America/North_Dakota/Center">America/North_Dakota/Center</option>
                <option value="America/North_Dakota/New_Salem" label="America/North_Dakota/New_Salem">America/North_Dakota/New_Salem</option>
                <option value="America/Panama" label="America/Panama">America/Panama</option>
                <option value="America/Pangnirtung" label="America/Pangnirtung">America/Pangnirtung</option>
                <option value="America/Paramaribo" label="America/Paramaribo">America/Paramaribo</option>
                <option value="America/Phoenix" label="America/Phoenix">America/Phoenix</option>
                <option value="America/Port-au-Prince" label="America/Port-au-Prince">America/Port-au-Prince</option>
                <option value="America/Port_of_Spain" label="America/Port_of_Spain">America/Port_of_Spain</option>
                <option value="America/Porto_Acre" label="America/Porto_Acre">America/Porto_Acre</option>
                <option value="America/Porto_Velho" label="America/Porto_Velho">America/Porto_Velho</option>
                <option value="America/Puerto_Rico" label="America/Puerto_Rico">America/Puerto_Rico</option>
                <option value="America/Rainy_River" label="America/Rainy_River">America/Rainy_River</option>
                <option value="America/Rankin_Inlet" label="America/Rankin_Inlet">America/Rankin_Inlet</option>
                <option value="America/Recife" label="America/Recife">America/Recife</option>
                <option value="America/Regina" label="America/Regina">America/Regina</option>
                <option value="America/Resolute" label="America/Resolute">America/Resolute</option>
                <option value="America/Rio_Branco" label="America/Rio_Branco">America/Rio_Branco</option>
                <option value="America/Rosario" label="America/Rosario">America/Rosario</option>
                <option value="America/Santarem" label="America/Santarem">America/Santarem</option>
                <option value="America/Santiago" label="America/Santiago">America/Santiago</option>
                <option value="America/Santo_Domingo" label="America/Santo_Domingo">America/Santo_Domingo</option>
                <option value="America/Sao_Paulo" label="America/Sao_Paulo">America/Sao_Paulo</option>
                <option value="America/Scoresbysund" label="America/Scoresbysund">America/Scoresbysund</option>
                <option value="America/Shiprock" label="America/Shiprock">America/Shiprock</option>
                <option value="America/St_Barthelemy" label="America/St_Barthelemy">America/St_Barthelemy</option>
                <option value="America/St_Johns" label="America/St_Johns">America/St_Johns</option>
                <option value="America/St_Kitts" label="America/St_Kitts">America/St_Kitts</option>
                <option value="America/St_Lucia" label="America/St_Lucia">America/St_Lucia</option>
                <option value="America/St_Thomas" label="America/St_Thomas">America/St_Thomas</option>
                <option value="America/St_Vincent" label="America/St_Vincent">America/St_Vincent</option>
                <option value="America/Swift_Current" label="America/Swift_Current">America/Swift_Current</option>
                <option value="America/Tegucigalpa" label="America/Tegucigalpa">America/Tegucigalpa</option>
                <option value="America/Thule" label="America/Thule">America/Thule</option>
                <option value="America/Thunder_Bay" label="America/Thunder_Bay">America/Thunder_Bay</option>
                <option value="America/Tijuana" label="America/Tijuana">America/Tijuana</option>
                <option value="America/Toronto" label="America/Toronto">America/Toronto</option>
                <option value="America/Tortola" label="America/Tortola">America/Tortola</option>
                <option value="America/Vancouver" label="America/Vancouver">America/Vancouver</option>
                <option value="America/Virgin" label="America/Virgin">America/Virgin</option>
                <option value="America/Whitehorse" label="America/Whitehorse">America/Whitehorse</option>
                <option value="America/Winnipeg" label="America/Winnipeg">America/Winnipeg</option>
                <option value="America/Yakutat" label="America/Yakutat">America/Yakutat</option>
                <option value="America/Yellowknife" label="America/Yellowknife">America/Yellowknife</option>
                <option value="Antarctica/Casey" label="Antarctica/Casey">Antarctica/Casey</option>
                <option value="Antarctica/Davis" label="Antarctica/Davis">Antarctica/Davis</option>
                <option value="Antarctica/DumontDUrville" label="Antarctica/DumontDUrville">Antarctica/DumontDUrville</option>
                <option value="Antarctica/Mawson" label="Antarctica/Mawson">Antarctica/Mawson</option>
                <option value="Antarctica/McMurdo" label="Antarctica/McMurdo">Antarctica/McMurdo</option>
                <option value="Antarctica/Palmer" label="Antarctica/Palmer">Antarctica/Palmer</option>
                <option value="Antarctica/Rothera" label="Antarctica/Rothera">Antarctica/Rothera</option>
                <option value="Antarctica/South_Pole" label="Antarctica/South_Pole">Antarctica/South_Pole</option>
                <option value="Antarctica/Syowa" label="Antarctica/Syowa">Antarctica/Syowa</option>
                <option value="Antarctica/Vostok" label="Antarctica/Vostok">Antarctica/Vostok</option>
                <option value="Arctic/Longyearbyen" label="Arctic/Longyearbyen">Arctic/Longyearbyen</option>
                <option value="Asia/Aden" label="Asia/Aden">Asia/Aden</option>
                <option value="Asia/Almaty" label="Asia/Almaty">Asia/Almaty</option>
                <option value="Asia/Amman" label="Asia/Amman">Asia/Amman</option>
                <option value="Asia/Anadyr" label="Asia/Anadyr">Asia/Anadyr</option>
                <option value="Asia/Aqtau" label="Asia/Aqtau">Asia/Aqtau</option>
                <option value="Asia/Aqtobe" label="Asia/Aqtobe">Asia/Aqtobe</option>
                <option value="Asia/Ashgabat" label="Asia/Ashgabat">Asia/Ashgabat</option>
                <option value="Asia/Ashkhabad" label="Asia/Ashkhabad">Asia/Ashkhabad</option>
                <option value="Asia/Baghdad" label="Asia/Baghdad">Asia/Baghdad</option>
                <option value="Asia/Bahrain" label="Asia/Bahrain">Asia/Bahrain</option>
                <option value="Asia/Baku" label="Asia/Baku">Asia/Baku</option>
                <option value="Asia/Bangkok" label="Asia/Bangkok">Asia/Bangkok</option>
                <option value="Asia/Beirut" label="Asia/Beirut">Asia/Beirut</option>
                <option value="Asia/Bishkek" label="Asia/Bishkek">Asia/Bishkek</option>
                <option value="Asia/Brunei" label="Asia/Brunei">Asia/Brunei</option>
                <option value="Asia/Calcutta" label="Asia/Calcutta">Asia/Calcutta</option>
                <option value="Asia/Choibalsan" label="Asia/Choibalsan">Asia/Choibalsan</option>
                <option value="Asia/Chongqing" label="Asia/Chongqing">Asia/Chongqing</option>
                <option value="Asia/Chungking" label="Asia/Chungking">Asia/Chungking</option>
                <option value="Asia/Colombo" label="Asia/Colombo">Asia/Colombo</option>
                <option value="Asia/Dacca" label="Asia/Dacca">Asia/Dacca</option>
                <option value="Asia/Damascus" label="Asia/Damascus">Asia/Damascus</option>
                <option value="Asia/Dhaka" label="Asia/Dhaka">Asia/Dhaka</option>
                <option value="Asia/Dili" label="Asia/Dili">Asia/Dili</option>
                <option value="Asia/Dubai" label="Asia/Dubai">Asia/Dubai</option>
                <option value="Asia/Dushanbe" label="Asia/Dushanbe">Asia/Dushanbe</option>
                <option value="Asia/Gaza" label="Asia/Gaza">Asia/Gaza</option>
                <option value="Asia/Harbin" label="Asia/Harbin">Asia/Harbin</option>
                <option value="Asia/Ho_Chi_Minh" label="Asia/Ho_Chi_Minh">Asia/Ho_Chi_Minh</option>
                <option value="Asia/Hong_Kong" label="Asia/Hong_Kong">Asia/Hong_Kong</option>
                <option value="Asia/Hovd" label="Asia/Hovd">Asia/Hovd</option>
                <option value="Asia/Irkutsk" label="Asia/Irkutsk">Asia/Irkutsk</option>
                <option value="Asia/Istanbul" label="Asia/Istanbul">Asia/Istanbul</option>
                <option value="Asia/Jakarta" label="Asia/Jakarta">Asia/Jakarta</option>
                <option value="Asia/Jayapura" label="Asia/Jayapura">Asia/Jayapura</option>
                <option value="Asia/Jerusalem" label="Asia/Jerusalem">Asia/Jerusalem</option>
                <option value="Asia/Kabul" label="Asia/Kabul">Asia/Kabul</option>
                <option value="Asia/Kamchatka" label="Asia/Kamchatka">Asia/Kamchatka</option>
                <option value="Asia/Karachi" label="Asia/Karachi">Asia/Karachi</option>
                <option value="Asia/Kashgar" label="Asia/Kashgar">Asia/Kashgar</option>
                <option value="Asia/Kathmandu" label="Asia/Kathmandu">Asia/Kathmandu</option>
                <option value="Asia/Katmandu" label="Asia/Katmandu">Asia/Katmandu</option>
                <option value="Asia/Kolkata" label="Asia/Kolkata">Asia/Kolkata</option>
                <option value="Asia/Krasnoyarsk" label="Asia/Krasnoyarsk">Asia/Krasnoyarsk</option>
                <option value="Asia/Kuala_Lumpur" label="Asia/Kuala_Lumpur">Asia/Kuala_Lumpur</option>
                <option value="Asia/Kuching" label="Asia/Kuching">Asia/Kuching</option>
                <option value="Asia/Kuwait" label="Asia/Kuwait">Asia/Kuwait</option>
                <option value="Asia/Macao" label="Asia/Macao">Asia/Macao</option>
                <option value="Asia/Macau" label="Asia/Macau">Asia/Macau</option>
                <option value="Asia/Magadan" label="Asia/Magadan">Asia/Magadan</option>
                <option value="Asia/Makassar" label="Asia/Makassar">Asia/Makassar</option>
                <option value="Asia/Manila" label="Asia/Manila">Asia/Manila</option>
                <option value="Asia/Muscat" label="Asia/Muscat">Asia/Muscat</option>
                <option value="Asia/Nicosia" label="Asia/Nicosia">Asia/Nicosia</option>
                <option value="Asia/Novosibirsk" label="Asia/Novosibirsk">Asia/Novosibirsk</option>
                <option value="Asia/Omsk" label="Asia/Omsk">Asia/Omsk</option>
                <option value="Asia/Oral" label="Asia/Oral">Asia/Oral</option>
                <option value="Asia/Phnom_Penh" label="Asia/Phnom_Penh">Asia/Phnom_Penh</option>
                <option value="Asia/Pontianak" label="Asia/Pontianak">Asia/Pontianak</option>
                <option value="Asia/Pyongyang" label="Asia/Pyongyang">Asia/Pyongyang</option>
                <option value="Asia/Qatar" label="Asia/Qatar">Asia/Qatar</option>
                <option value="Asia/Qyzylorda" label="Asia/Qyzylorda">Asia/Qyzylorda</option>
                <option value="Asia/Rangoon" label="Asia/Rangoon">Asia/Rangoon</option>
                <option value="Asia/Riyadh" label="Asia/Riyadh">Asia/Riyadh</option>
                <option value="Asia/Saigon" label="Asia/Saigon">Asia/Saigon</option>
                <option value="Asia/Sakhalin" label="Asia/Sakhalin">Asia/Sakhalin</option>
                <option value="Asia/Samarkand" label="Asia/Samarkand">Asia/Samarkand</option>
                <option value="Asia/Seoul" label="Asia/Seoul">Asia/Seoul</option>
                <option value="Asia/Shanghai" label="Asia/Shanghai">Asia/Shanghai</option>
                <option value="Asia/Singapore" label="Asia/Singapore">Asia/Singapore</option>
                <option value="Asia/Taipei" label="Asia/Taipei">Asia/Taipei</option>
                <option value="Asia/Tashkent" label="Asia/Tashkent">Asia/Tashkent</option>
                <option value="Asia/Tbilisi" label="Asia/Tbilisi">Asia/Tbilisi</option>
                <option value="Asia/Tehran" label="Asia/Tehran">Asia/Tehran</option>
                <option value="Asia/Tel_Aviv" label="Asia/Tel_Aviv">Asia/Tel_Aviv</option>
                <option value="Asia/Thimbu" label="Asia/Thimbu">Asia/Thimbu</option>
                <option value="Asia/Thimphu" label="Asia/Thimphu">Asia/Thimphu</option>
                <option value="Asia/Tokyo" label="Asia/Tokyo">Asia/Tokyo</option>
                <option value="Asia/Ujung_Pandang" label="Asia/Ujung_Pandang">Asia/Ujung_Pandang</option>
                <option value="Asia/Ulaanbaatar" label="Asia/Ulaanbaatar">Asia/Ulaanbaatar</option>
                <option value="Asia/Ulan_Bator" label="Asia/Ulan_Bator">Asia/Ulan_Bator</option>
                <option value="Asia/Urumqi" label="Asia/Urumqi">Asia/Urumqi</option>
                <option value="Asia/Vientiane" label="Asia/Vientiane">Asia/Vientiane</option>
                <option value="Asia/Vladivostok" label="Asia/Vladivostok">Asia/Vladivostok</option>
                <option value="Asia/Yakutsk" label="Asia/Yakutsk">Asia/Yakutsk</option>
                <option value="Asia/Yekaterinburg" label="Asia/Yekaterinburg">Asia/Yekaterinburg</option>
                <option value="Asia/Yerevan" label="Asia/Yerevan">Asia/Yerevan</option>
                <option value="Atlantic/Azores" label="Atlantic/Azores">Atlantic/Azores</option>
                <option value="Atlantic/Bermuda" label="Atlantic/Bermuda">Atlantic/Bermuda</option>
                <option value="Atlantic/Canary" label="Atlantic/Canary">Atlantic/Canary</option>
                <option value="Atlantic/Cape_Verde" label="Atlantic/Cape_Verde">Atlantic/Cape_Verde</option>
                <option value="Atlantic/Faeroe" label="Atlantic/Faeroe">Atlantic/Faeroe</option>
                <option value="Atlantic/Faroe" label="Atlantic/Faroe">Atlantic/Faroe</option>
                <option value="Atlantic/Jan_Mayen" label="Atlantic/Jan_Mayen">Atlantic/Jan_Mayen</option>
                <option value="Atlantic/Madeira" label="Atlantic/Madeira">Atlantic/Madeira</option>
                <option value="Atlantic/Reykjavik" label="Atlantic/Reykjavik">Atlantic/Reykjavik</option>
                <option value="Atlantic/South_Georgia" label="Atlantic/South_Georgia">Atlantic/South_Georgia</option>
                <option value="Atlantic/St_Helena" label="Atlantic/St_Helena">Atlantic/St_Helena</option>
                <option value="Atlantic/Stanley" label="Atlantic/Stanley">Atlantic/Stanley</option>
                <option value="Australia/ACT" label="Australia/ACT">Australia/ACT</option>
                <option value="Australia/Adelaide" label="Australia/Adelaide">Australia/Adelaide</option>
                <option value="Australia/Brisbane" label="Australia/Brisbane">Australia/Brisbane</option>
                <option value="Australia/Broken_Hill" label="Australia/Broken_Hill">Australia/Broken_Hill</option>
                <option value="Australia/Canberra" label="Australia/Canberra">Australia/Canberra</option>
                <option value="Australia/Currie" label="Australia/Currie">Australia/Currie</option>
                <option value="Australia/Darwin" label="Australia/Darwin">Australia/Darwin</option>
                <option value="Australia/Eucla" label="Australia/Eucla">Australia/Eucla</option>
                <option value="Australia/Hobart" label="Australia/Hobart">Australia/Hobart</option>
                <option value="Australia/LHI" label="Australia/LHI">Australia/LHI</option>
                <option value="Australia/Lindeman" label="Australia/Lindeman">Australia/Lindeman</option>
                <option value="Australia/Lord_Howe" label="Australia/Lord_Howe">Australia/Lord_Howe</option>
                <option value="Australia/Melbourne" label="Australia/Melbourne">Australia/Melbourne</option>
                <option value="Australia/North" label="Australia/North">Australia/North</option>
                <option value="Australia/NSW" label="Australia/NSW">Australia/NSW</option>
                <option value="Australia/Perth" label="Australia/Perth">Australia/Perth</option>
                <option value="Australia/Queensland" label="Australia/Queensland">Australia/Queensland</option>
                <option value="Australia/South" label="Australia/South">Australia/South</option>
                <option value="Australia/Sydney" label="Australia/Sydney">Australia/Sydney</option>
                <option value="Australia/Tasmania" label="Australia/Tasmania">Australia/Tasmania</option>
                <option value="Australia/Victoria" label="Australia/Victoria">Australia/Victoria</option>
                <option value="Australia/West" label="Australia/West">Australia/West</option>
                <option value="Australia/Yancowinna" label="Australia/Yancowinna">Australia/Yancowinna</option>
                <option value="Brazil/Acre" label="Brazil/Acre">Brazil/Acre</option>
                <option value="Brazil/DeNoronha" label="Brazil/DeNoronha">Brazil/DeNoronha</option>
                <option value="Brazil/East" label="Brazil/East">Brazil/East</option>
                <option value="Brazil/West" label="Brazil/West">Brazil/West</option>
                <option value="Canada/Atlantic" label="Canada/Atlantic">Canada/Atlantic</option>
                <option value="Canada/Central" label="Canada/Central">Canada/Central</option>
                <option value="Canada/East-Saskatchewan" label="Canada/East-Saskatchewan">Canada/East-Saskatchewan</option>
                <option value="Canada/Eastern" label="Canada/Eastern">Canada/Eastern</option>
                <option value="Canada/Mountain" label="Canada/Mountain">Canada/Mountain</option>
                <option value="Canada/Newfoundland" label="Canada/Newfoundland">Canada/Newfoundland</option>
                <option value="Canada/Pacific" label="Canada/Pacific">Canada/Pacific</option>
                <option value="Canada/Saskatchewan" label="Canada/Saskatchewan">Canada/Saskatchewan</option>
                <option value="Canada/Yukon" label="Canada/Yukon">Canada/Yukon</option>
                <option value="CET" label="CET">CET</option>
                <option value="Chile/Continental" label="Chile/Continental">Chile/Continental</option>
                <option value="Chile/EasterIsland" label="Chile/EasterIsland">Chile/EasterIsland</option>
                <option value="CST6CDT" label="CST6CDT">CST6CDT</option>
                <option value="Cuba" label="Cuba">Cuba</option>
                <option value="EET" label="EET">EET</option>
                <option value="Egypt" label="Egypt">Egypt</option>
                <option value="Eire" label="Eire">Eire</option>
                <option value="EST" label="EST">EST</option>
                <option value="EST5EDT" label="EST5EDT">EST5EDT</option>
                <option value="Etc/GMT" label="Etc/GMT">Etc/GMT</option>
                <option value="Etc/GMT+0" label="Etc/GMT+0">Etc/GMT+0</option>
                <option value="Etc/GMT+1" label="Etc/GMT+1">Etc/GMT+1</option>
                <option value="Etc/GMT+10" label="Etc/GMT+10">Etc/GMT+10</option>
                <option value="Etc/GMT+11" label="Etc/GMT+11">Etc/GMT+11</option>
                <option value="Etc/GMT+12" label="Etc/GMT+12">Etc/GMT+12</option>
                <option value="Etc/GMT+2" label="Etc/GMT+2">Etc/GMT+2</option>
                <option value="Etc/GMT+3" label="Etc/GMT+3">Etc/GMT+3</option>
                <option value="Etc/GMT+4" label="Etc/GMT+4">Etc/GMT+4</option>
                <option value="Etc/GMT+5" label="Etc/GMT+5">Etc/GMT+5</option>
                <option value="Etc/GMT+6" label="Etc/GMT+6">Etc/GMT+6</option>
                <option value="Etc/GMT+7" label="Etc/GMT+7">Etc/GMT+7</option>
                <option value="Etc/GMT+8" label="Etc/GMT+8">Etc/GMT+8</option>
                <option value="Etc/GMT+9" label="Etc/GMT+9">Etc/GMT+9</option>
                <option value="Etc/GMT-0" label="Etc/GMT-0">Etc/GMT-0</option>
                <option value="Etc/GMT-1" label="Etc/GMT-1">Etc/GMT-1</option>
                <option value="Etc/GMT-10" label="Etc/GMT-10">Etc/GMT-10</option>
                <option value="Etc/GMT-11" label="Etc/GMT-11">Etc/GMT-11</option>
                <option value="Etc/GMT-12" label="Etc/GMT-12">Etc/GMT-12</option>
                <option value="Etc/GMT-13" label="Etc/GMT-13">Etc/GMT-13</option>
                <option value="Etc/GMT-14" label="Etc/GMT-14">Etc/GMT-14</option>
                <option value="Etc/GMT-2" label="Etc/GMT-2">Etc/GMT-2</option>
                <option value="Etc/GMT-3" label="Etc/GMT-3">Etc/GMT-3</option>
                <option value="Etc/GMT-4" label="Etc/GMT-4">Etc/GMT-4</option>
                <option value="Etc/GMT-5" label="Etc/GMT-5">Etc/GMT-5</option>
                <option value="Etc/GMT-6" label="Etc/GMT-6">Etc/GMT-6</option>
                <option value="Etc/GMT-7" label="Etc/GMT-7">Etc/GMT-7</option>
                <option value="Etc/GMT-8" label="Etc/GMT-8">Etc/GMT-8</option>
                <option value="Etc/GMT-9" label="Etc/GMT-9">Etc/GMT-9</option>
                <option value="Etc/GMT0" label="Etc/GMT0">Etc/GMT0</option>
                <option value="Etc/Greenwich" label="Etc/Greenwich">Etc/Greenwich</option>
                <option value="Etc/UCT" label="Etc/UCT">Etc/UCT</option>
                <option value="Etc/Universal" label="Etc/Universal">Etc/Universal</option>
                <option value="Etc/UTC" label="Etc/UTC">Etc/UTC</option>
                <option value="Etc/Zulu" label="Etc/Zulu">Etc/Zulu</option>
                <option value="Europe/Amsterdam" label="Europe/Amsterdam">Europe/Amsterdam</option>
                <option value="Europe/Andorra" label="Europe/Andorra">Europe/Andorra</option>
                <option value="Europe/Athens" label="Europe/Athens">Europe/Athens</option>
                <option value="Europe/Belfast" label="Europe/Belfast">Europe/Belfast</option>
                <option value="Europe/Belgrade" label="Europe/Belgrade">Europe/Belgrade</option>
                <option value="Europe/Berlin" label="Europe/Berlin" selected="selected">Europe/Berlin</option>
                <option value="Europe/Bratislava" label="Europe/Bratislava">Europe/Bratislava</option>
                <option value="Europe/Brussels" label="Europe/Brussels">Europe/Brussels</option>
                <option value="Europe/Bucharest" label="Europe/Bucharest">Europe/Bucharest</option>
                <option value="Europe/Budapest" label="Europe/Budapest">Europe/Budapest</option>
                <option value="Europe/Chisinau" label="Europe/Chisinau">Europe/Chisinau</option>
                <option value="Europe/Copenhagen" label="Europe/Copenhagen">Europe/Copenhagen</option>
                <option value="Europe/Dublin" label="Europe/Dublin">Europe/Dublin</option>
                <option value="Europe/Gibraltar" label="Europe/Gibraltar">Europe/Gibraltar</option>
                <option value="Europe/Guernsey" label="Europe/Guernsey">Europe/Guernsey</option>
                <option value="Europe/Helsinki" label="Europe/Helsinki">Europe/Helsinki</option>
                <option value="Europe/Isle_of_Man" label="Europe/Isle_of_Man">Europe/Isle_of_Man</option>
                <option value="Europe/Istanbul" label="Europe/Istanbul">Europe/Istanbul</option>
                <option value="Europe/Jersey" label="Europe/Jersey">Europe/Jersey</option>
                <option value="Europe/Kaliningrad" label="Europe/Kaliningrad">Europe/Kaliningrad</option>
                <option value="Europe/Kiev" label="Europe/Kiev">Europe/Kiev</option>
                <option value="Europe/Lisbon" label="Europe/Lisbon">Europe/Lisbon</option>
                <option value="Europe/Ljubljana" label="Europe/Ljubljana">Europe/Ljubljana</option>
                <option value="Europe/London" label="Europe/London">Europe/London</option>
                <option value="Europe/Luxembourg" label="Europe/Luxembourg">Europe/Luxembourg</option>
                <option value="Europe/Madrid" label="Europe/Madrid">Europe/Madrid</option>
                <option value="Europe/Malta" label="Europe/Malta">Europe/Malta</option>
                <option value="Europe/Mariehamn" label="Europe/Mariehamn">Europe/Mariehamn</option>
                <option value="Europe/Minsk" label="Europe/Minsk">Europe/Minsk</option>
                <option value="Europe/Monaco" label="Europe/Monaco">Europe/Monaco</option>
                <option value="Europe/Moscow" label="Europe/Moscow">Europe/Moscow</option>
                <option value="Europe/Nicosia" label="Europe/Nicosia">Europe/Nicosia</option>
                <option value="Europe/Oslo" label="Europe/Oslo">Europe/Oslo</option>
                <option value="Europe/Paris" label="Europe/Paris">Europe/Paris</option>
                <option value="Europe/Podgorica" label="Europe/Podgorica">Europe/Podgorica</option>
                <option value="Europe/Prague" label="Europe/Prague">Europe/Prague</option>
                <option value="Europe/Riga" label="Europe/Riga">Europe/Riga</option>
                <option value="Europe/Rome" label="Europe/Rome">Europe/Rome</option>
                <option value="Europe/Samara" label="Europe/Samara">Europe/Samara</option>
                <option value="Europe/San_Marino" label="Europe/San_Marino">Europe/San_Marino</option>
                <option value="Europe/Sarajevo" label="Europe/Sarajevo">Europe/Sarajevo</option>
                <option value="Europe/Simferopol" label="Europe/Simferopol">Europe/Simferopol</option>
                <option value="Europe/Skopje" label="Europe/Skopje">Europe/Skopje</option>
                <option value="Europe/Sofia" label="Europe/Sofia">Europe/Sofia</option>
                <option value="Europe/Stockholm" label="Europe/Stockholm">Europe/Stockholm</option>
                <option value="Europe/Tallinn" label="Europe/Tallinn">Europe/Tallinn</option>
                <option value="Europe/Tirane" label="Europe/Tirane">Europe/Tirane</option>
                <option value="Europe/Tiraspol" label="Europe/Tiraspol">Europe/Tiraspol</option>
                <option value="Europe/Uzhgorod" label="Europe/Uzhgorod">Europe/Uzhgorod</option>
                <option value="Europe/Vaduz" label="Europe/Vaduz">Europe/Vaduz</option>
                <option value="Europe/Vatican" label="Europe/Vatican">Europe/Vatican</option>
                <option value="Europe/Vienna" label="Europe/Vienna">Europe/Vienna</option>
                <option value="Europe/Vilnius" label="Europe/Vilnius">Europe/Vilnius</option>
                <option value="Europe/Volgograd" label="Europe/Volgograd">Europe/Volgograd</option>
                <option value="Europe/Warsaw" label="Europe/Warsaw">Europe/Warsaw</option>
                <option value="Europe/Zagreb" label="Europe/Zagreb">Europe/Zagreb</option>
                <option value="Europe/Zaporozhye" label="Europe/Zaporozhye">Europe/Zaporozhye</option>
                <option value="Europe/Zurich" label="Europe/Zurich">Europe/Zurich</option>
                <option value="Factory" label="Factory">Factory</option>
                <option value="GB" label="GB">GB</option>
                <option value="GB-Eire" label="GB-Eire">GB-Eire</option>
                <option value="GMT" label="GMT">GMT</option>
                <option value="GMT+0" label="GMT+0">GMT+0</option>
                <option value="GMT-0" label="GMT-0">GMT-0</option>
                <option value="GMT0" label="GMT0">GMT0</option>
                <option value="Greenwich" label="Greenwich">Greenwich</option>
                <option value="Hongkong" label="Hongkong">Hongkong</option>
                <option value="HST" label="HST">HST</option>
                <option value="Iceland" label="Iceland">Iceland</option>
                <option value="Indian/Antananarivo" label="Indian/Antananarivo">Indian/Antananarivo</option>
                <option value="Indian/Chagos" label="Indian/Chagos">Indian/Chagos</option>
                <option value="Indian/Christmas" label="Indian/Christmas">Indian/Christmas</option>
                <option value="Indian/Cocos" label="Indian/Cocos">Indian/Cocos</option>
                <option value="Indian/Comoro" label="Indian/Comoro">Indian/Comoro</option>
                <option value="Indian/Kerguelen" label="Indian/Kerguelen">Indian/Kerguelen</option>
                <option value="Indian/Mahe" label="Indian/Mahe">Indian/Mahe</option>
                <option value="Indian/Maldives" label="Indian/Maldives">Indian/Maldives</option>
                <option value="Indian/Mauritius" label="Indian/Mauritius">Indian/Mauritius</option>
                <option value="Indian/Mayotte" label="Indian/Mayotte">Indian/Mayotte</option>
                <option value="Indian/Reunion" label="Indian/Reunion">Indian/Reunion</option>
                <option value="Iran" label="Iran">Iran</option>
                <option value="Israel" label="Israel">Israel</option>
                <option value="Jamaica" label="Jamaica">Jamaica</option>
                <option value="Japan" label="Japan">Japan</option>
                <option value="Kwajalein" label="Kwajalein">Kwajalein</option>
                <option value="Libya" label="Libya">Libya</option>
                <option value="MET" label="MET">MET</option>
                <option value="Mexico/BajaNorte" label="Mexico/BajaNorte">Mexico/BajaNorte</option>
                <option value="Mexico/BajaSur" label="Mexico/BajaSur">Mexico/BajaSur</option>
                <option value="Mexico/General" label="Mexico/General">Mexico/General</option>
                <option value="MST" label="MST">MST</option>
                <option value="MST7MDT" label="MST7MDT">MST7MDT</option>
                <option value="Navajo" label="Navajo">Navajo</option>
                <option value="NZ" label="NZ">NZ</option>
                <option value="NZ-CHAT" label="NZ-CHAT">NZ-CHAT</option>
                <option value="Pacific/Apia" label="Pacific/Apia">Pacific/Apia</option>
                <option value="Pacific/Auckland" label="Pacific/Auckland">Pacific/Auckland</option>
                <option value="Pacific/Chatham" label="Pacific/Chatham">Pacific/Chatham</option>
                <option value="Pacific/Easter" label="Pacific/Easter">Pacific/Easter</option>
                <option value="Pacific/Efate" label="Pacific/Efate">Pacific/Efate</option>
                <option value="Pacific/Enderbury" label="Pacific/Enderbury">Pacific/Enderbury</option>
                <option value="Pacific/Fakaofo" label="Pacific/Fakaofo">Pacific/Fakaofo</option>
                <option value="Pacific/Fiji" label="Pacific/Fiji">Pacific/Fiji</option>
                <option value="Pacific/Funafuti" label="Pacific/Funafuti">Pacific/Funafuti</option>
                <option value="Pacific/Galapagos" label="Pacific/Galapagos">Pacific/Galapagos</option>
                <option value="Pacific/Gambier" label="Pacific/Gambier">Pacific/Gambier</option>
                <option value="Pacific/Guadalcanal" label="Pacific/Guadalcanal">Pacific/Guadalcanal</option>
                <option value="Pacific/Guam" label="Pacific/Guam">Pacific/Guam</option>
                <option value="Pacific/Honolulu" label="Pacific/Honolulu">Pacific/Honolulu</option>
                <option value="Pacific/Johnston" label="Pacific/Johnston">Pacific/Johnston</option>
                <option value="Pacific/Kiritimati" label="Pacific/Kiritimati">Pacific/Kiritimati</option>
                <option value="Pacific/Kosrae" label="Pacific/Kosrae">Pacific/Kosrae</option>
                <option value="Pacific/Kwajalein" label="Pacific/Kwajalein">Pacific/Kwajalein</option>
                <option value="Pacific/Majuro" label="Pacific/Majuro">Pacific/Majuro</option>
                <option value="Pacific/Marquesas" label="Pacific/Marquesas">Pacific/Marquesas</option>
                <option value="Pacific/Midway" label="Pacific/Midway">Pacific/Midway</option>
                <option value="Pacific/Nauru" label="Pacific/Nauru">Pacific/Nauru</option>
                <option value="Pacific/Niue" label="Pacific/Niue">Pacific/Niue</option>
                <option value="Pacific/Norfolk" label="Pacific/Norfolk">Pacific/Norfolk</option>
                <option value="Pacific/Noumea" label="Pacific/Noumea">Pacific/Noumea</option>
                <option value="Pacific/Pago_Pago" label="Pacific/Pago_Pago">Pacific/Pago_Pago</option>
                <option value="Pacific/Palau" label="Pacific/Palau">Pacific/Palau</option>
                <option value="Pacific/Pitcairn" label="Pacific/Pitcairn">Pacific/Pitcairn</option>
                <option value="Pacific/Ponape" label="Pacific/Ponape">Pacific/Ponape</option>
                <option value="Pacific/Port_Moresby" label="Pacific/Port_Moresby">Pacific/Port_Moresby</option>
                <option value="Pacific/Rarotonga" label="Pacific/Rarotonga">Pacific/Rarotonga</option>
                <option value="Pacific/Saipan" label="Pacific/Saipan">Pacific/Saipan</option>
                <option value="Pacific/Samoa" label="Pacific/Samoa">Pacific/Samoa</option>
                <option value="Pacific/Tahiti" label="Pacific/Tahiti">Pacific/Tahiti</option>
                <option value="Pacific/Tarawa" label="Pacific/Tarawa">Pacific/Tarawa</option>
                <option value="Pacific/Tongatapu" label="Pacific/Tongatapu">Pacific/Tongatapu</option>
                <option value="Pacific/Truk" label="Pacific/Truk">Pacific/Truk</option>
                <option value="Pacific/Wake" label="Pacific/Wake">Pacific/Wake</option>
                <option value="Pacific/Wallis" label="Pacific/Wallis">Pacific/Wallis</option>
                <option value="Pacific/Yap" label="Pacific/Yap">Pacific/Yap</option>
                <option value="Poland" label="Poland">Poland</option>
                <option value="Portugal" label="Portugal">Portugal</option>
                <option value="PRC" label="PRC">PRC</option>
                <option value="PST8PDT" label="PST8PDT">PST8PDT</option>
                <option value="ROC" label="ROC">ROC</option>
                <option value="ROK" label="ROK">ROK</option>
                <option value="Singapore" label="Singapore">Singapore</option>
                <option value="Turkey" label="Turkey">Turkey</option>
                <option value="UCT" label="UCT">UCT</option>
                <option value="Universal" label="Universal">Universal</option>
                <option value="US/Alaska" label="US/Alaska">US/Alaska</option>
                <option value="US/Aleutian" label="US/Aleutian">US/Aleutian</option>
                <option value="US/Arizona" label="US/Arizona">US/Arizona</option>
                <option value="US/Central" label="US/Central">US/Central</option>
                <option value="US/East-Indiana" label="US/East-Indiana">US/East-Indiana</option>
                <option value="US/Eastern" label="US/Eastern">US/Eastern</option>
                <option value="US/Hawaii" label="US/Hawaii">US/Hawaii</option>
                <option value="US/Indiana-Starke" label="US/Indiana-Starke">US/Indiana-Starke</option>
                <option value="US/Michigan" label="US/Michigan">US/Michigan</option>
                <option value="US/Mountain" label="US/Mountain">US/Mountain</option>
                <option value="US/Pacific" label="US/Pacific">US/Pacific</option>
                <option value="US/Pacific-New" label="US/Pacific-New">US/Pacific-New</option>
                <option value="US/Samoa" label="US/Samoa">US/Samoa</option>
                <option value="UTC" label="UTC">UTC</option>
                <option value="W-SU" label="W-SU">W-SU</option>
                <option value="WET" label="WET">WET</option>
                <option value="Zulu" label="Zulu">Zulu</option>
              </select></dd></dl></fieldset></dd>
      <dt id="rss-label">&nbsp;</dt><dd id="rss-element"><fieldset id="fieldset-rss"><legend>Rss</legend>
          <dl>
            <dt id="all_jobs_count-label"><label for="all_jobs_count" class="required">Number of jobs in general RSS feed</label></dt>
            <dd id="all_jobs_count-element">
              <input name="all_jobs_count" id="all_jobs_count" value="15" type="text"></dd>
            <dt id="category_jobs_count-label"><label for="category_jobs_count" class="required">Number of jobs per category feed</label></dt>
            <dd id="category_jobs_count-element">
              <input name="category_jobs_count" id="category_jobs_count" value="15" type="text"></dd></dl></fieldset></dd>
      <dt id="submit-label">&nbsp;</dt><dd id="submit-element">
        <input name="submit" id="submit" value="Set" type="submit"></dd></dl></form></div>
