#wrapper {
  padding-top: 123px;
  background-image: url('rails.png');
  background-repeat: no-repeat;
  background-position: 50% 10%;
  text-align: center;
}

#loginForm {
  display: block;
  width: 350px;
  margin: 0 auto;
  padding: 5px;
  background-color: #CCC;
  text-align: center;
  margin-bottom: 15px;
}

#loginForm dd, #loginForm dt, #loginForm dt label {
  margin: 0;
}

#loginForm dt {
  text-align: left;
  padding-left: 15px;
  margin-bottom: 3px;
}

#loginForm dd input[type="text"], #loginForm dd input[type="password"] {
  width: 90%;
  font-size: 18px;
}

#loginForm dd {
  margin-bottom: 8px;
}

.error {
  color: red;
  float: left;
  margin-bottom: 5px;
  padding-left: 20px;
  text-align: left;
  width: 90%;
}

ul.errors {
  font-size: 80%;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.errors {
  list-style: none;
  padding: 2px 4px;
  margin: 0;
  text-align: left;
  text-indent: 14px;
}



/* By programmer */

.simple_form{
   display: block;
  width: 350px;
  margin: 0 auto;
  padding: 5px;
  background-color: #CCC;
  text-align: center;
  margin-bottom: 15px;

}

.simple_form  .text-fields {
  margin: 0;
  text-align: left;
  padding-left: 15px;
  margin-bottom: 3px;
  float: left;
}

.simple_form  input[type="text"],.simple_form  input[type="email"], .simple_form input[type="password"] {
  width: 90%;
  font-size: 18px;
}
.simple_form .password , .simple_form .email , .simple_form .string {
   margin-bottom: 8px;
}

.simple_form  .checkfield {
    float: left;
    margin: 0 0 3px 14px;
    text-align: left;
}

.simple_form .check_fields{
    float: left;
    margin-bottom: 8px;
    padding-left: 5px;
    text-align: left;
    width: 302px;
}
.error_notification{
  padding-bottom: 5px;
}
.simple_form select{
   width: 90%;
  font-size: 18px;
  margin-bottom: 8px;
}

/* By programmer */