<div class="span8">
  <iframe style="border-style: none;" src="http://docs.google.com/viewer?url=<%=request.env['HTTP_HOST'] + @path%>&embedded=true" height="390" width="400"></iframe>
  <br/>
  <br/>
<%#= @doc2%>
</div>
